In [2]:
# Dependencies
import pandas as pd

In [9]:
# Store filepath in a variable
madden_ratings_csv = "Resources/Madden_Player_Ratings_2015-2019.csv"
team_standings_2015_2018_csv = "Resources/Team_Standings_2015-2018.csv"
player_stats_2015_2018_csv = "Resources/Player_Stats_2015-2018.csv"

In [10]:
# Read our Data file with the pandas library
madden_ratings_df = pd.read_csv(madden_ratings_csv, encoding="UTF-8")
team_standings_2015_2018_df = pd.read_csv(team_standings_2015_2018_csv, encoding="UTF-8")
player_stats_2015_2018_df = pd.read_csv(player_stats_2015_2018_csv, encoding="UTF-8")

In [5]:
##Preview data - use below to sort by overall
#madden_ratings_df = madden_ratings_df.sort_values("Overall", ascending=False)

madden_ratings_df.head()

,Team,Team Mascot,Full Name,First Name,Last Name,Position,Overall,Season Year,Offense/Defense,Strength,Speed,Injury
0,SF,49ers,Daniel Kilgore,Daniel,Kilgore,C,79,2015,Offense,89,60,88
1,SF,49ers,Marcus Martin,Marcus,Martin,C,72,2015,Offense,82,64,83
2,SF,49ers,Dillon Farrell,Dillon,Farrell,C,65,2015,Offense,84,68,92
3,SF,49ers,Tramaine Brock,Tramaine,Brock,CB,80,2015,Defense,59,87,93
4,SF,49ers,Chris Cook,Chris,Cook,CB,79,2015,Defense,60,87,74

In [6]:
###Preview data for team standings - contains 2015-2018 data
##PF = Points For, PA = Points Against, PD = PF-PA, MoV = Margin of Victory = PD/# of Games Played(16)
##Playoff rank = where they ended the playoff (1 = Super Bowl Winner, 2 = Super Bowl Loser, 3 = Conference Championship Losers, 4 = Division Losers, etc.) If no number - did not make playoffs.

team_standings_2015_2018_df.head()

,Year,Team,Team Mascot,W,L,T,W-L%,PF,PA,PD,MoV,SoS,SRS,OSRS,DSRS,Playoff Rank
0,2018,NO,Saints,13,3,0,0.813,504,353,151,9.4,0.6,10.1,7.9,2.2,3.0
1,2018,LAR,Rams,13,3,0,0.813,527,384,143,8.9,-0.4,8.5,9.5,-1.1,2.0
2,2018,KC,Chiefs,12,4,0,0.750,565,421,144,9.0,-0.1,8.9,12.6,-3.8,3.0
3,2018,LAC,Chargers,12,4,0,0.750,428,329,99,6.2,-0.2,6.0,3.0,2.9,4.0
4,2018,CHI,Bears,12,4,0,0.750,421,283,138,8.6,-2.3,6.3,1.5,4.8,5.0

In [11]:
##Contains Offensive Stats for all eligible players from 2015-2018
player_stats_2015_2018_df.head()

,Year,Rk,Player,Tm,FantPos,Age,Games,Games Started,Pass Cmp,Pass Att,...,Fmb Loss,Total TD,2Pt Made,2Pt Pass,Fantasy Pts,Fantasy Pts PPR,DKPt,FDPt,VBD,PosRank
0,2015,1,Antonio Brown,PIT,WR,27,16,16,0,0,...,2,11,2.0,NaN,250.0,388.2,393.2,320.2,126.0,1
1,2015,2,Devonta Freeman,ATL,RB,23,15,13,0,0,...,2,14,NaN,NaN,243.0,316.4,324.4,279.9,120.0,1
2,2015,3,Julio Jones,ATL,WR,26,16,16,0,0,...,1,9,NaN,NaN,235.0,369.1,379.1,307.1,111.0,2
3,2015,4,Adrian Peterson,MIN,RB,30,16,16,0,0,...,3,11,NaN,NaN,231.0,260.7,269.7,245.7,107.0,2
4,2015,5,Cam Newton,CAR,QB,26,16,16,296,495,...,4,10,NaN,NaN,391.0,389.1,409.1,399.1,106.0,1

In [7]:
#clean any nas
#madden_ratings_df = madden_ratings_df.dropna(how="any")
#madden_ratings_df.count()

In [13]:
#  Create a new df for each years data for each dataframe 
madden_ratings_2015_df = madden_ratings_df.loc[madden_ratings_df["Season Year"] == 2015]
madden_ratings_2016_df = madden_ratings_df.loc[madden_ratings_df["Season Year"] == 2016]
madden_ratings_2017_df = madden_ratings_df.loc[madden_ratings_df["Season Year"] == 2017]
madden_ratings_2018_df = madden_ratings_df.loc[madden_ratings_df["Season Year"] == 2018]
madden_ratings_2019_df = madden_ratings_df.loc[madden_ratings_df["Season Year"] == 2019]

team_standings_2015_df = team_standings_2015_2018_df.loc[team_standings_2015_2018_df["Year"] == 2015]
team_standings_2016_df = team_standings_2015_2018_df.loc[team_standings_2015_2018_df["Year"] == 2016]
team_standings_2017_df = team_standings_2015_2018_df.loc[team_standings_2015_2018_df["Year"] == 2017]
team_standings_2018_df = team_standings_2015_2018_df.loc[team_standings_2015_2018_df["Year"] == 2018]

player_stats_2015_df = player_stats_2015_2018_df.loc[player_stats_2015_2018_df["Year"] == 2015]
player_stats_2016_df = player_stats_2015_2018_df.loc[player_stats_2015_2018_df["Year"] == 2016]
player_stats_2017_df = player_stats_2015_2018_df.loc[player_stats_2015_2018_df["Year"] == 2017]
player_stats_2018_df = player_stats_2015_2018_df.loc[player_stats_2015_2018_df["Year"] == 2018]